:root{
    --main: #DBC1AA;
    --beige: #A67B5B;
    --light-brown: #6F4E37;
    --red-brown: #633F33;

}

main {
    background-color: var(--main);
    min-height: 100vh;
}

.row {
    flex-direction: column;
}

.form-select {
    width: 20%;
}

/* added simple addition to make the spacing appear better. Though if we are using Bootstrap for this then can delete */
#mainChoice {
    padding-top:10px;
}

#questionnaire {
    border: solid;
    /* added some margin to make it look a little visually better. Though if we are using Bootstrap for this then we can delete */
    margin-top: 10px;
}

.btn {
    margin: 1% 1% 0 0;
}

.hidden {
    display: none;
}